.carousel {
  width: 100%;
  position: relative;
  margin-bottom: 40px;

  .carousel-animation {
    width: 100%;
    display: flex;
    color: white;
    font-weight: 100;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    letter-spacing: 3px;
    background-color: black;
    justify-content: space-around;

    img {
      transform: scale(1.177);
    }
  }
}
